// boton de formulario de debates
.btn-debates {
    background-color: rgb(235, 152, 20);
}
.btn-debates:hover {
    background-color: #9dee07;
}
// boton de formulario de lecturas
.btn-lecturas {
    background-color: rgb(252, 197, 109);
} 
.btn-lecturas:hover {
    background-color: #ec6314;
}