.lectura-debate{
    font-size: 24px;
    color: #023859;
    text-align: center;
}
.img-debate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 251px;
}