.recomendacion-lecturas {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.recomendacion-t1 {
    font-size: 21px;
    color: rgb(54, 54, 51);
    text-align: center;
}
.recomendacion-img {
    width: 300px;
    height: 370px
}
