*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/*google fonts - Playfair Display
*/
/* font-family: "Playfair Display", serif;*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-color: rgba(255, 250, 220, 0.897);

}
.navbar {
    background-color: rgb(255, 240, 216);
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    grid-template-areas: 
       "logo navbar ul navbar ul navbar ul navbar ul navbar ul";





}
.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    grid-area: navbar ul;
}
.nav-li{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: rgb(119, 117, 11);

    padding: 8px;
    margin: 7px 5px;
    border: 1px solid rgb(151, 224, 133);
    border-radius: 4px;
    display: inline-block;

}
.logo{ 
    grid-area: logo;
    display: flex;
    flex-direction: row;
    justify-content: center;  
}
h1{
    font-size: 50px;
    color: rgb(74, 179, 138);
    font-family: "Playfair Display", serif;
    text-align: center;
}
p{
    font-size: 20px;
    color: rgb(3, 53, 1);
    margin: 30px;
}
h2{
    color: black;
}
.p-footer {
    color: rgb(54, 54, 51);
    font-size: 15px;
    text-align: start;
}

.recomendacion-1 {
    width: 180px;
    height: 230px;
}
.recomendacion-t1 {
    font-size: 21px;
    color: rgb(54, 54, 51);
    text-align: center;
}
.recomendacion-2 {
    width: 180px;
    height: 230px
}
.subtitulo-oferta {
    text-align: center;
    text-decoration: underline;
    color: rgb(71, 83, 47);
}

.autores-conteiner {
    margin: 32px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.autores {
    display: inline-block;

    text-decoration: none;
    color: black;

    padding: 8px;
    margin: 7px 5px;
    border: 1px solid gray;
    border-radius: 4px;
}
.autores-card {
    padding: 16px;
    width: 300px;
}

body {
    font-size: 16px;
    padding: 10px;
}

.bienvenda{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    align-items: center;
}
footer {
    margin-top: 80px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}
@media (max-width: 450px) {
    body {
        margin: 0 16px;
    }
    .navbar {
        grid-template-rows: 50px 20px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
    }
}